<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<link href="/public/css/base.css" type="text/css" rel="stylesheet"/>				
		<link href="/public/css/application.css" type="text/css" rel="stylesheet"/>		
    <title></title>
    
	</head>
	<body>
		<%= @content %>
	</body>
</html>